mixin arrow(data,className)
	.arrow(class=className)
		each item in data
			svg.arrow__item
				use(xlink:href=loadAssets(`${item}`))


//-
		svg.arrow__prev
			use(xlink:href=loadAssets('./svg/layer1.svg'))
		if data.number
			.arrow__number
				each item in data.number
					a.arrow__number-link(href=item.url)= item.number
		svg.arrow__next
			use(xlink:href=loadAssets('./svg/layer2.svg'))