$parent: header;

@include block($parent) {
	@media (min-width: $tMin) {
		display: flex;
		justify-content: space-between;
  }
  
  @include element($parent, 'wrap') {
    text-align: end;
    
    @media (min-width: $tMin) {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

  @include element($parent, 'name') {
    color: #0EC261;
    font-size: rem(30);
    line-height: rem(35);
    font-weight: 600;
  }

@include element($parent, 'location-wrap') {
  display: flex;
  justify-content: flex-end;
  margin-top: rem(10);
}

@include element($parent, 'location-icon') {
  height: rem(18);
  width: rem(15);
  margin-right: rem(7);
  fill: none;
  }

  @include element($parent, 'location') {
		font-size: rem(14);
		line-height: rem(16);
	}
}
