mixin header(data, className)
	.header(class=className)
		.header__wrap
			.header__name!= data.name
			.header__location-wrap
					svg.header__location-icon
						use(xlink:href=loadAssets(`${data.icon}`))
					.header__location!= data.location