include ../core/subtitle/subtitle.pug
include ../core/title/title.pug
include ../requisites/requisites.pug
include ../press-office/press-office.pug
include ../question/question.pug
include ../form/form.pug
mixin contact(data,className)
	+main
		.contact(class=className)
			each item in data
				.contact__container
					+title(item.title, 'contact__title')
					if item.subtitle
						+subtitle(item.subtitle, 'contact__subtitle')
					if item.requisites
						+requisites(item.requisites, 'contact__requisites')
					if item.press
						+press-office(item.press, 'contacts__press-office')
					.contact__question-wpn
						if item.question
							+question(item.question, 'contacts__question')
