$parent: contact;
	
@include block($parent) {
	position: relative;

	@include element($parent, 'map-info') {

		@media (min-width: $dMin) {
			position: absolute;
			top: rem(120);
			right:rem(120);
		}
	}
	@include element($parent, 'requisites') {
		margin-top: rem(30);
		
	}
	
	@include element($parent, 'container') {
		padding-top: rem(50);

		@media (min-width: $tMin) {
			padding-top: rem(60);
		}

		@media (min-width: $dMin) {
			padding-top: rem(100);
		}

		&:last-child{
			padding-bottom: rem(150);
		}
	}
}