include ../main/main.pug
include ../core/title/title.pug
include ../image/image.pug
include ../core/button/button.pug
mixin client(data)
	.client
		+main
			+title(data.title)
			.client__container
				.client__logo
					each item in data.logo
						+image(item.image, 'client__image')
				+button(data.btn, 'client__btn')