$parent: catalog;

@include block($parent) {
	margin-top: rem(30);

	@media (min-width: $tMin){
		margin-top: rem(35);
	}

	@media (min-width: $dMin){
		margin-top: rem(57);
	}

	@include element($parent, 'search') {
		@media (min-width: $d1280){
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	@include element($parent, 'search-left') {
		@media (min-width: $tMin){
			display: flex;
		}
	}

	@include element($parent, 'search-right') {
		@media (min-width: $tMin){
			display: flex;
			align-items: center;
			flex-basis: 38%;
		}
	}

	@include element($parent, 'search-inner') {
		display: flex;
	}

	@include element($parent, 'title') {
		font-size: rem(22);
		line-height: rem(30);
		margin-bottom: rem(20);
		display: none;

		@media (min-width: $dMin){
			display: block;
		}
	}

	@include element($parent, 'offer') {
		font-size: rem(16);
		line-height: rem(24);
		color: #828282;
		margin-right: rem(20);
		margin-bottom: rem(15);

		@media (min-width: $d1280){
			margin-bottom: 0;
		}
	}

	@include element($parent, 'order') {
		font-size: rem(14);
		line-height: rem(24);
		text-transform: uppercase;
		color: #7A1B1B;
		font-weight: bold;
		margin-bottom: rem(20);

		@media (min-width: $d1280){
			margin-bottom: 0;
		}
	}

	@include element($parent, 'address') {
		font-size: rem(16);
		line-height: rem(24);
		color: #828282;
		border: 1px solid #E0E0E0;
		padding: rem(9) rem(18) rem(12) rem(20);
		flex-basis: 68%;
		margin-bottom: rem(20);

		@media (min-width: $tMin){
			margin-right: rem(20);
			margin-bottom: 0;
		}

		@media (min-width: $d1280){
			flex-basis: 50%;
		}
	}

	@include element($parent, 'metro') {
		font-size: rem(16);
		line-height: rem(24);
		color: #7A1B1B;
		font-weight: bold;
		margin-right: rem(25);

		@media (min-width: $tMin){
			margin-right: rem(20);
		}

		@media (min-width: $dMin){
			margin-right: rem(30);
		}
	}

	@include element($parent, 'district') {
		font-size: rem(16);
		line-height: rem(24);
		color: #7A1B1B;
		font-weight: bold;
	}
}