$parent: features;

@include block($parent) {
	padding-top: rem(40);

	@media (min-width: $tMin) {
		padding-top: rem(100);
	}

	@include element($parent, 'block') {
		display: flex;
		flex-wrap: wrap;
		margin-top: rem(50);

	@include element($parent, 'content') {
		margin-bottom: rem(25);
		max-width: rem(300);

		@media (min-width: $tMin) {
			margin-right: rem(30);
			margin-bottom: rem(60);
		}
			
		@media (min-width: $dMin) {
			margin-right: rem(50);
		}

		@media (min-width: $d1280) {
			margin-right: rem(100);
		}
	}
	
	@include element($parent, 'number') {
		font-family: $Baron;
		font-weight: 600;
		font-size: rem(100);
		line-height: rem(100);
		color: $red;
		opacity: 0.1;
		position: relative;

		&::after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: rem(-1);
			background-color:$w;
			height: rem(24);
		}
	}

	@include element($parent, 'title') {
		font-family: $Baron;
		font-size: rem(22);
		line-height: rem(30);
		margin-bottom: rem(16);
	}
			
	@include element($parent, 'text') {
		font-size: rem(16);
		line-height: rem(24);
		margin-bottom: rem(25);
	}

		@include element($parent, 'more') {
			font-size: rem(16);
			line-height: rem(24);
			font-weight: 600;
			color: $red;
			transition: opacity 0.3s ease;

			&:hover{
				opacity: 0.1;
			}
		}
	}
}

