include ../main/main.pug
include ../core/title/title.pug
include ../core/subtitle/subtitle.pug
mixin features(data)
	.features
		+main
			.features__full-title
				+title(data.title)
				+subtitle(data.subtitle)
			.features__block
				each item in data.feature
					.features__content
						.features__number!= item.number
						.features__title!= item.title
						.features__text!= item.text
						a.features__more(href=item.href)!= item.more
