extends ../layouts/main.pug

include ../blocks/main/main.pug
include ../blocks/image/image.pug
include ../blocks/contacts/contacts.pug

block vars
	- homepage = true;
	- pageInfo = require('../data/contactsPage.json');
block content
	+contacts(pageInfo)

