extends ../layouts/main.pug
include ../blocks/carsharing/carsharing.pug

block vars
	- homepage = true;
	- pageInfo = require('../data/indexPage.json');
block content
	+carsharing(pageInfo.carsharing)