$parent: contacts;
	
@include block($parent) {
	position: relative;

	@include element($parent, 'image') {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	@include element($parent, 'content') {
		height: rem(450);
		position: relative;
	}

@include element($parent, 'breadcrumbs') {
	position: absolute;
	top:rem(25);

	@media (min-width: $tMin) {
		top:rem(27);
	}
}

	@include element($parent, 'title') {
		padding-top: rem(60);
	}
	
	@include element($parent, 'map-info') {

		@media (min-width: $dMin) {
			position: absolute;
			top: rem(125);
			right:rem(120);
		}
	}
}