include ../core/subtitle/subtitle.pug
include ../core/title/title.pug
include ../breadcrumbs/breadcrumbs.pug
include ../image/image.pug
include ../contact/contact.pug
include ../map-info/map-info.pug
mixin contacts (data)
	.contacts
		.contacts__content
			+image(data.image, 'contacts__image')
			+main
				+breadcrumbs(data.breadcrumbs, 'contacts__breadcrumbs')
				+title(data.title, 'contacts__title')
		+map-info(data.info, 'contacts__map-info')
	+contact(data.contact, 'contacts__contact')