$parent: content;

@include block($parent) {
	background: #FFFFFF;
    padding: rem(16);
    width: 100%;

    @media (min-width: $tMin) {
		padding: rem(32);
	}

	@include element($parent, 'menu-btn') {
		width: rem(32);
		height: rem(32);
	}
    
    @include element($parent, 'main') {
        margin-top: rem(32);
        
        @media (min-width: $tMin) {
			//-margin-top: rem(163);
			//-flex: 1 0 auto;
        }
	}

	@include element($parent, 'title') {
		font-size: rem(32);
		line-height: 100%;
		font-weight: 600;
        color: #121212;
        
        @media (min-width: $tMin) {
            font-size: rem(70);
            line-height: 100%;
        }
	}

	@include element($parent, 'subtitle') {
		margin-top: rem(6);
		font-size: rem(32);
		line-height: 100%;
		color: #0EC261;
        font-weight: 600;
        
        @media (min-width: $tMin) {
            font-size: rem(70);
            line-height: rem(66);
        }
	}

	@include element($parent, 'text') {
		font-size: rem(18);
		line-height: rem(21);
		margin-top: rem(16);
		color: #999999;
        font-weight: 300;
        
        @media (min-width: $tMin) {
            font-size: rem(26);
            line-height: rem(30);
        }
	}

	@include element($parent, 'btn') {
		position: absolute;
    	left: 0;
    	right: 0;
		height: rem(50);
		width: 100%;
		margin-top: rem(32);
		background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
		transition: background 1s ease;

		&:hover{
			background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
        }
        
        @media (min-width: $tMin) {
            position: relative;
            width: rem(250);
            border-radius: rem(8);
            margin-top: rem(60);
        }
	}

	@include element($parent, 'btn-text') {
		font-size: rem(18);
		line-height: rem(21);
		text-align: center;
		color: #FFFFFF;
		font-weight: 500;
	}

	@include element($parent, 'footer') {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: rem(72);
		background: #151B1F;
		padding: rem(16);
        text-align: end;
        
        @media (min-width: $tMin) {
			background: #FFFFFF;
			position: relative;
			display: flex;
			justify-content: space-between;
			padding: 0;
			align-items: flex-end;
        }
	}

	@include element($parent, 'number') {
		font-size: rem(13);
		line-height: rem(15);
		color: #0EC261;
		margin-bottom: rem(8);
        transition: color 1s ease;
        
        @media (min-width: $tMin) {
			color: #121212;
			order: 2;
			
        }

		&:hover{
			color: #EEEEEE;
			transition: color 1s ease;
		}
	}

	@include element($parent, 'copyright') {
		font-size: rem(13);
		line-height: rem(15);
        color: #EEEEEE;
        
        @media (min-width: $tMin) {
			color: #999999;
			order: 1;
        }
	}
}
