$parent: award;
	
@include block($parent) {
	padding-top: rem(40);
	
	@media (min-width: $tMin) {
		padding-top: rem(60);
	}
	@media (min-width: $dMin) {
		padding-top: rem(100);
	}

	@include element($parent, 'box') {
		position: relative;
	}

	@include element($parent, 'content') {
		position: relative;
		margin-top: rem(68);
		padding: rem(35) rem(15) rem(117) rem(15);
		background: $gray5;
		height: auto;

		@media (min-width: $tMin) {
			padding: rem(50) 0 rem(60) rem(38);
		}

		@media (min-width: $dMin) {
			padding: rem(90) 0 rem(90) rem(100);
		}
	}
	@include element($parent, 'slider') {
		padding-top: rem(52);
	}

	@include element($parent, 'text') {
		font-size: rem(28);
		line-height: rem(36);
		color: $w;
		font-family: $Baron;
		margin-top: rem(286);
		max-width: rem(504);

		@media (min-width: $tMin) {
			margin-top: rem(211);
			max-width: rem(400);
		}

		@media (min-width: $dMin) {
			margin-top: rem(160);
			font-size: rem(30);
			line-height: rem(36);
			max-width: rem(550);
		}
	}

	@include element($parent, 'topnav') {
		position: absolute;
		top: rem(150);
		z-index: 2;
		left: rem(15);

		@media (min-width: $tMin) {
			left: rem(40);
			top: rem(180);
		}
		@media (min-width: $dMin) {
			left: rem(100);
			top: rem(180);
		}
	}

	@include element($parent, 'topnav-item') {
		font-size: rem(15);
		line-height: rem(24);
		color: #777777;
		font-weight: 600;
		margin-right: rem(40);
	
		@include modifier($parent, 'active') {
			border-bottom: rem(2) solid $pink;
			color: $pink;
		}
	}
	
	@include element($parent, 'pager') {
		background: $red;
		height: rem(72);
		width: rem(172);
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		z-index: 1;
		
		@include element($parent, 'arrow') {
			display: flex;
			justify-content: center;
			align-items: center;

		@include element($parent, 'prev') {
			width: rem(15) ;
			height: rem(16);
			pointer-events: visible;
			cursor: pointer;
		}

		@include element($parent, 'next') {
			width: rem(15) ;
			height: rem(16);
			pointer-events: visible;
			cursor: pointer;
		}

		@include element($parent, 'number') {
			margin-right: rem(20);
			margin-left: rem(20);
			color: $gray6;
		}
			
		@include element($parent, 'counter') {
			font-size:rem(22);
			line-height: rem(30);
			color: $w;
		}
	}
}

		@include element($parent, 'image') {
			position: absolute;
			right: rem(59);
			top: rem(100);
			z-index: 1;

			img{
				width: rem(203);
			}

			@media (min-width: $tMin) {
				right: rem(27);
				top: rem(-100);

				img{
					width: 100%;
				}
			}

			@media (min-width: $dMin) {
				right: rem(-21);
			}

			@media (min-width: $d1280) {
				bottom: rem(84);
				right: rem(120);
			}
		}
	}
