$parent: service;

@include block($parent) {
	margin-top: rem(40);
	margin-bottom: rem(40);

	@media (min-width: $tMin) {
  margin-top: rem(100);
	margin-bottom: rem(100);
	}

	@include element($parent, 'top') {
		@media (min-width: $d1280) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

	@include element($parent, 'text') {
		font-size: rem(20);
		line-height: rem(24);
		max-width: rem(364);
		margin: rem(35) rem(20) rem(20) 0;

		@media (min-width: $d1280) {
			margin-bottom: 0;
			margin-right: 0;
		}
	}
	
	@include element($parent, 'topnav') {
		display: flex;
		justify-content: space-between;
	}
	
	@include element($parent, 'arrow') {
		margin-bottom: rem(20);
		display: none;

		@media (min-width: $tMin) {
			display:flex;
		}

		@media (min-width: $d1280) {
			margin-bottom: 0;
		}
	}

	@include element($parent, 'topnav-item') {
		font-size:rem(15);
		line-height: rem(24);
		font-weight: 600;
		text-transform: uppercase;
		color: #777777;
		margin-right: rem(25);

		&:hover{
			color: $pink;
		}

		@media (min-width: $d1280) {
			margin-bottom: 0;
		}

		@include modifier($parent, 'active') {
			border-bottom: rem(2) solid $red;
			color: $red;
		}
	}
}
