$parent: breadcrumbs;

@include block($parent) {
 
	@include element($parent, 'item') {
		max-width: 100%;
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		padding: rem(0) rem(10) rem(10) rem(0);
	}
	
		@media (min-width: $d1280) {
			padding: rem(10) rem(10) rem(20) rem(0);
		}

	@include element($parent, 'item-link') {
		position: relative;
		color: $blackB;
		margin-right: rem(10);
		margin-left: rem(10);
		font-size: rem(16);
		line-height: rem(24);

		&:first-of-type{
			margin-left:0;
		}

		@media (min-width: $tMin) {
			line-height: 1.6;
		}
		
		@media (min-width: $dMin) {
			font-size: rem(11);
		}
		
		@media (min-width: $d1280) {
			font-weight: 500;
			font-size: rem(14);
			line-height: rem(20);
		}

		&::after {
			position: absolute;
			content: '';
			width: rem(3);
			height: rem(3);
			top: rem(8);
			background-color:$red;
			margin-left: rem(10);
		}

		&:hover {
			color: $blackL;
		}

		&:last-of-type {
			margin-right: 0;
			pointer-events: none;

			&::after {
				content: '';
				width:0;
			}
		}
	}
}
