include ../form/form.pug
include ../checkbox/checkbox.pug
mixin question(data,className)
	.question(class=className)
		.question__info
			.question__text!=data.text
			.question__contact
				.question__title!=data.title
				.question__number!=data.number
		.question__input
			+form(data.form, 'question__form' )
			+checkbox(data.checkbox, 'question__checkbox')