$parent: question;
	
@include block($parent) {
	margin-top: rem(20);

	@media (min-width: $d1280) {
		display: flex;
		justify-content: space-between;
	}

	@include element($parent, 'text') {
		font-size: rem(16);
		line-height: rem(24);
		color: $gray8;
	}

	@include element($parent, 'title') {
		font-size: rem(16);
		line-height: rem(24);
		color: $gray8;
	}

	@include element($parent, 'number') {
		font-size: rem(26);
		line-height: rem(24);
		color: #303030;
		margin-top: rem(15);
	}

	@include element($parent, 'contact') {
		margin-top: rem(20);
	}

	@include element($parent, 'info') {
		margin-bottom: rem(45);

		@media (min-width: $tMin) {
			margin-bottom: rem(35);
		}
	}
	
	@include element($parent, 'input') {
		flex-basis: 60%;
	}

	@include element($parent, 'form') {

		@media (min-width: $d1280) {
			
			flex-basis: rem(700);
		}
	}
}