$parent: h1;

@include block($parent) {
  font-size: rem(25);
  line-height: 1.6;
  text-transform: uppercase;
  color: $black;

  @media screen and (min-width: $tMin) and (max-width: $tMax) {
    font-size: rem(30);
    line-height: 1.5;
  }

  @media screen and (min-width: $dMin) {
    font-size: rem(35);
    line-height: 1.3;
  }
}
