mixin form(data,className)
	.form(class=className)
		form.form__wpn
			.form__inputs
				input.form__name(type="text" placeholder="Имя*" name="name")
				input.form__phone(type="text" placeholder="+7(___)___-__-__*" name="phone")
			textarea.form__textarea(name="question", placeholder="Ваш вопрос")