$parent: form;
	
@include block($parent) {
	@include element($parent, 'wpn') {
		@media (min-width: $tMin) {
			display: flex;
		}
	}
	
	@include element($parent, 'inputs') {
		display: flex;
		flex-direction: column;
		flex-basis: 45%;
		margin-bottom: rem(16);

		@media (min-width: $tMin) {
			margin-right: rem(16);
			margin-bottom: 0;
		}
	}

	@include element($parent, 'name') {
		border: 1px solid $gray7;
		padding: rem(20);
		font-size: rem(16);
		line-height: rem(24);
		margin-bottom: rem(16);
	}

	@include element($parent, 'phone') {
		border: 1px solid $gray7;
		padding: rem(20);
		font-size: rem(16);
		line-height: rem(24);
	}
	
	@include element($parent, 'textarea') {
		border: 1px solid $gray7;
		padding: rem(20);
		font-size: rem(16);
		line-height: rem(24);
		flex-basis: 55%;
		width: 100%;
	}
}