$parent: press-office;
	
@include block($parent) {
	@media (min-width: $d1280) {
		display: flex;
		justify-content: space-between;
		margin-top: rem(60);
	}

	@include element($parent, 'item') {
		border: 1px solid #D5D5D5;
		margin-top: rem(60);

		@media (min-width: $tMin) {
			display: flex;
			background: #FAFAFA;
			border: none;
		}

		@media (min-width: $d1280) {
			display: flex;
			width: calc(50% - 8px);
		}
	}
	@include element($parent, 'photo') {
		height:rem(291);
		position: relative;
		display: flex;
		justify-content: center;

		@media (min-width: $tMin) {
			width: rem(257);
		}
	}
	@include element($parent, 'image') {
		position: absolute;
		bottom: 0;
	}
	@include element($parent, 'content') {
		padding: rem(40) 0;
		text-align: center;
		background: #FAFAFA;

		@media (min-width: $tMin) {
			text-align: left;
			padding-left: rem(34);
		}

		@media (min-width: $d1280) {
			padding: rem(100) rem(45) rem(100) rem(24);
		}
	}
	@include element($parent, 'name') {
		font-size: rem(22);
		line-height: rem(30);
		font-family: $Baron;
		margin-bottom: rem(13);
	}

	@include element($parent, 'profession') {
		font-size: rem(16);
		line-height: rem(24);
		color: $gray8;
		margin-bottom: rem(13);
	}

	@include element($parent, 'mail') {
		font-size: rem(16);
		line-height: rem(24);
		color: $red;
		font-weight: 600;
	}

	@include element($parent, 'button') {
		background-color: $red;
		margin-top: rem(20);
		color: $w;
		transition: background-color 0.3s ease, color 0.3s ease;
		&:hover {
			background-color: $pink;
			color: $w;
		}
	}
}