include ../image/image.pug
include ../core/btn/btn.pug
mixin press-office(data,className)
	.press-office(class=className)
		each item in data
			.press-office__item
				.press-office__photo
					+image(item.image, 'press-office__image')
				.press-office__content
					.press-office__name!=item.name
					.press-office__profession!=item.profession
					.press-office__mail!=item.mail
					+btn(item.button,'press-office__button')