$w: #fff;
$blue: #7198d4;
$blueL: #ecf2fc;
$blue2: #4d7abf;
$blue3: #3a65a7;
$ye: #fcd666;
$ye2: #e6ba54;
$red2: #f27069;
$red3: #E35205;
$green: #5c8752;
$green2: #96b085;
$black: #31353a;
$blackL: #2a2c32;
$blackB: #3F3356;
$gray: #e5e5e5;
$gray2: #6a6d75;
$gray3: #a4a4a4;
$gray4: #f7f7f7;
$gray5:#484848;
$gray6:#C2C2C2;
$gray7:#E0E0E0;
$gray8:#BDBDBD;
$pink: #C79791;
//
$red: #7A1B1B;

// $whBack: #f4f4f9;

$m358: 358px;
$m373: 373px;
$m374: 374px;
$mMax: 767px;
$tMin: 768px;
$tMax: 1023px;
$dMin: 1024px;
$d1279: 1279px;
$d1280: 1280px;
// $d1359: 1359px;
$d1421: 1421px;
$d1422: 1422px;
$d1440: 1440px;
$d1619: 1619px;
$d1620: 1620px;
$d1899: 1899px;
$d1900: 1900px;
$d1920: 1920px;

$Lato: 'Lato', Arial, sans-serif;
$Baron: 'BaronNeue', Arial, sans-serif;
$Roboto:'Roboto',Arial, sans-serif;
