$parent: location;

@include block($parent) {
	position: relative;

	@media (min-width: $d1280) {
		height: rem(720);
	}
	
	@include element($parent, 'content') {
		position: relative;

		@media (min-width: $tMin) {
			position: static;
		}
	}

	@include element($parent, 'image') {
		position: absolute;
		top: 0;
		bottom: 0;
		left: rem(-20);
		right: rem(-20);

		@media (min-width: $tMin) {
			left: 0;
			width: 50%;
			right: auto;
		}

		@media (min-width: $dMin) {
			height:100%;
		}
	}

	@include element($parent, 'map') {
		height: rem(450);
		width: 100%;
		
		@media (min-width: $tMin) {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			height: 100%;
			width: 50%;
		}
	}

	@include element($parent, 'content-wpn') {
		position: relative;
		padding:rem(60) rem(30) rem(60) 0;
		display: flex;
		flex-direction: column;
		
		@media (min-width: $tMin) {
			padding:rem(60) rem(23) rem(60) 0;
			width: 50%;
			height: 100%;
		}

		@media (min-width: $d1280) {
			padding:rem(125) rem(36) rem(100) 0;
		}
	}

	@include element($parent, 'subtitle') {
		font-family: $Baron;
		font-size: rem(20);
		line-height: rem(30);
		color: $w;
	}

	@include element($parent, 'title') {
		font-family: $Baron;
		font-size: rem(45);
		line-height: rem(50);
		color: $w;

		@media (min-width: $tMin) {
			font-size: rem(60);
			line-height: rem(60);
		}
	}
		
	@include element($parent, 'button') {
		margin-top: rem(113);
		border: none;

		@media (min-width: $tMin) {
			margin-top: rem(122);
		}
		@media (min-width: $d1280) {
			margin-top: rem(331);
		}
	}
}
