$parent: main;

@include block($parent) {

	max-width: rem(500);
	margin: 0 auto; //выравниваине по центру
	padding-left: rem(20);
	padding-right: rem(20);
	

	@media (min-width: $tMin) {
		max-width: rem(900);
		margin: 0 auto; //выравниваине по центру
		padding-left: rem(40);
		padding-right: rem(40);
	}
	
	@media (min-width: $dMin) {
		max-width: rem(1200);
		margin: 0 auto; //выравниваине по центру
		padding-left:rem(117);
		padding-right:rem(117);
		
	}
	@media (min-width: $d1280) {
		max-width: rem(1200);
		margin: 0 auto; //выравниваине по центру
		padding-left:0;
		padding-right: 0;
	}
}