$parent: requisites;
	
@include block($parent) {
	@media (min-width: $d1280) {
		columns: 2;
		display: flex;
	}

	@include element($parent, 'item-wpn') {
		@media (min-width: $dMin) {
			&:last-child{
				flex-basis:21%;
			}
			&:first-child{
				flex-basis: 58%;
			}
		}
	}

	@include element($parent, 'item') {
		margin-bottom: rem(20);

		@media (min-width: $tMin) {
			display: flex;
		}

		@media (min-width: $dMin) {
			margin-bottom: rem(15);
		}
	}
	@include element($parent, 'title') {
		font-size: rem(16);
		line-height: rem(24);
		color: $gray8;
		flex-basis: 38%;
	}

	@include element($parent, 'text') {
		font-size: rem(16);
		line-height: rem(24);
	}
}
